#editor-resizer {
  position: absolute;
  border: 1px dashed #fff;
  background-color: rgba(0, 0, 0, 0.5);
}
#editor-resizer .handler {
  position: absolute;
  right: -5px;
  bottom: -5px;
  width: 10px;
  height: 10px;
  border: 1px solid #333;
  background-color: rgba(255, 255, 255, 0.8);
  cursor: nwse-resize;
  user-select: none;
}
#editor-resizer .toolbar {
  position: absolute;
  top: -5em;
  left: 50%;
  padding: 0.5em;
  border: 1px solid #fff;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  transform: translateX(-50%);
}
#editor-resizer .toolbar .group {
  display: flex;
  border: 1px solid #aaa;
  border-radius: 6px;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
}
#editor-resizer .toolbar .group:not(:first-child) {
  margin-top: 0.5em;
}
#editor-resizer .toolbar .group .btn {
  flex: 1 0 0;
  text-align: center;
  width: 25%;
  padding: 0 0.5rem;
  display: inline-block;
  color: rgba(0, 0, 0, 0.65);
  vertical-align: top;
  line-height: 2;
  user-select: none;
}
#editor-resizer .toolbar .group .btn.btn-group {
  padding: 0;
  display: inline-flex;
  line-height: 2em;
}
#editor-resizer .toolbar .group .btn.btn-group .inner-btn {
  flex: 1 0 0;
  font-size: 2em;
  width: 50%;
  cursor: pointer;
}
#editor-resizer .toolbar .group .btn.btn-group .inner-btn:first-child {
  border-right: 1px solid #ddd;
}
#editor-resizer .toolbar .group .btn.btn-group .inner-btn:active {
  transform: scale(0.8);
}
#editor-resizer .toolbar .group .btn:not(:last-child) {
  border-right: 1px solid #bbb;
}
#editor-resizer .toolbar .group .btn:not(.btn-group):active {
  background-color: rgba(0, 0, 0, 0.1);
}
